

#leftBar{
    order:1;
    margin-top: 5%;
    width: 15%;
    height: 100%;
}

#cvbody{
    order:2;
    width: 85%;
    height: 100%;
    
}


#mainHeader{
    text-align: left;
}

#maindiv{
    display: flex;
    height: 100%;
}
#labelLink{
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}
#labelLink:active{
    color:red;
}
td{
    padding: 2%
}
